Welcome to Vish's Discord!
Please read the following rules and guidelines to select your role in the server.
Rules:
1) Treat all members with courtesy and respect. Use the common euphamism, "If you cannot say anything nice, do not say anything at all." 
2) Hate Speech is not tolerated.
3) Please select role "Community Member" to join the server.
4) Please do not post NSFW posts on this discord.
5) Spoilers need to be tagged spoilers (this applies to movies, TV shows, and video game story lines).


Guidelines for Raiders
1) Only members of the LS Raid Team may select the role "Linkshell Raid," so if you're a raider, select this role :) 
2) Please use the attendance chat to post any expected raid absences.
3) Please post Final Fantasy XIV related posts into the FFXIV channel.
4) Please keep the voice chat clean during boss fights to prevent confusion.
5) PTT is recommended for raids. If you are going to use voice activated mic for raids, please be mindful of others' ears (i.e. don't eat and drink on an open mic).
